*:focus {
  outline: 2px dotted #FF7500;
  outline-offset: 3px;
}

body {
  font-size: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/* HEADER */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 5px solid #FF7500;
  background-color: #fff;
}

.logo {
  transition: 0.4s ease;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.site-header__action {
  display: flex;
  align-items: center;
}
/* SITENAV */
.sitenav {
}

.sitenav__list {
  display: flex;
  padding: 0;
  list-style: none;
}

.sitenav__item {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
}


.sitenav__link {
  color: #000;
  text-decoration: none;
  transition: color 0.4s ease,
    opacity 0.4s ease ;
}

.sitenav__link:hover {
  color: #FF7500;
}

.sitenav__link:active {
  color: #FF7500;
  opacity: 0.6;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 13px;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #FF7500;
  transition: opacity 0.4s ease;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #252420;
  color: #fff;
}

.hero__content {
  width: 387px;
}

.orange-line{
  width: 80px;
  height: 3px;
  border: 0;
  background-color: #FF7500;
}

.hero__heading2 {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
}

.hero__text {

}

.hero__link {
}

.hero__img {
  width: 510px;
  height: 510px;
  border-radius: 8px;
}

/* FEATURES */
.features {
  padding-top: 210px;
  padding-bottom: 210px;
}

.features__heading2 {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-size: 72px;
  font-weight: bold;
  line-height: 1.2;
}

.features__list {
  display: flex;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}

.features__item {
  width: 340px;
}
.features__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
  border-radius: 50%;
}

.features__icon {
}

.features__heading3 {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  color: #000;
}



/* AKSIYA */
.discount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #fff;
}

.discount__content {
  width: 440px;
}

.discount__heading2 {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
}

.discount__text {

}

.discount__amount {
  color: #FF7500;
}

.discount__link {
}

.discount__img {
  width: 440px;
  height: 440px;
  object-fit: cover;
  border-radius: 12px;
}


/* FOOTER */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f8f8f8;
}

.footer ul {
  list-style: none;
}
.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer__divider {
  height: 2px;
  border: 0;
  background-color: rgba(37, 36, 32, 0.5)
}

.footer-top__link-logo {
}

.footer-top__img-logo {
}

.footer-top__list {
  display: flex;
  padding: 0;
}

.footer-top__item {
}

.footer-top__social-link {
  color: #252420;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.footer-top__social-link:hover {
  color: #FF7500;
}

.footer-top__social-link:active {
  opacity: 0.6;
}

.footer-bottom {
  display: flex;
}

.footer-bottom__list {
  width: 224px;
  padding: 0;
  line-height: 19px;
}

.footer-bottom__item {
}

.footer-bottom__link {
  color: #252420;
  text-decoration: none;
}

.footer-bottom__link:hover{
  color: #FF7500;
}

.footer-bottom__link:active{
  color: #FF7500;
  opacity: 0.6;
}